@model FIT_PONG.ViewModels.ReportVMs.CreateReportVM
@{
    ViewData["Title"] = "Dodaj";
}

<div class="row justify-content-center">
    <div class="col-6">
        <form asp-controller="Report" asp-action="Dodaj" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Naslov"></label>
                <input asp-for="Naslov" class="form-control"/>
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Sadrzaj"></label>
                <textarea rows="3" class="form-control" asp-for="Sadrzaj"></textarea>
                <span asp-validation-for="Sadrzaj"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Prilozi</label>
                <div class="custom-file">
                    <input asp-for="Prilozi" multiple class="form-control custom-file-input" />
                    <label asp-for="Prilozi" class="custom-file-label">Odaberite slike</label>
                </div>
            <span asp-validation-for="@Model.Prilozi" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" class="btn btn-info" value="Posalji" />
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var SadrzajUnosa = $(this).next(".custom-file-label");
                var stringFin = "";
                var fajlovi = $(this)[0].files;
                for (var i = 0; i < fajlovi.length; i++) {
                    stringFin += "\"" + fajlovi[i].name + "\" ";
                }
                SadrzajUnosa.html(stringFin);
            })
        })
    </script>
}

