@model FIT_PONG.ViewModels.ObjavaVMS.ObjavaPrikazVM
@{
    ViewData["Title"] = "Obrisi";
}

<h1>Da li sigurno zelite obrisati @Model.Naziv ?</h1>
<h2>@Model.Content</h2>
<a ajax-poziv="da" ajax-rezultat="Feed" href="/Objava/PotvrdaBrisanja/@Model.ID" class="btn btn-danger">DA</a>
<a ajax-poziv="da" ajax-rezultat="Feed" href="/Objava/Prikaz/@Model.ID" class="btn btn-light">NE</a>
