@model FIT_PONG.ViewModels.ObjavaVMS.ObjavaPrikazVM
@{
    ViewData["Title"] = "Obrisi";
}
    <style>
        #batni a{
            width:80px;
            margin-right:30px;
        }
    </style>
<h3 class="text-center">Da li sigurno zelite obrisati objavu: @Model.Naziv ?</h3>
<br />
<br />
<div id="batni" class="text-center">
    <a ajax-poziv="da" ajax-rezultat="Feed" href="/Objava/PotvrdaBrisanja/@Model.ID" class="btn btn-danger">DA</a>
    <a ajax-poziv="da" ajax-rezultat="Feed" href="/Objava/Prikaz/@Model.ID" class="btn btn-info">NE</a>
</div>