@model FIT_PONG.ViewModels.ObjavaVMS.ObjavaPrikazVM

@{
    ViewData["Title"] = "Prikaz1";
}

<h1>@Html.DisplayFor(model => model.Naziv)</h1>
<table>
    <tr>
        <td class="small">@Html.DisplayFor(model => model.DatumKreiranja) -</td>
        <td class="small">Ime Feeda</td>
        <td class="small">Napisao/la :</td>
    </tr>
</table>
<div>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<div>
    <a ajax-poziv="da" ajax-rezultat="Feed" href="/Objava/Edit/@Model.ID" class="btn btn-outline-info">Edit</a>
    <a ajax-poziv="da" ajax-rezultat="Feed" href="/Objava/Obrisi/@Model.ID" class="btn btn-outline-danger">Obrisi</a>
    <a ajax-poziv="da" ajax-rezultat="Feed" href="/Feed/Prikaz/@Model.FeedID" class="btn btn-outline-success">Nazad na feed</a>
</div>
