@model FIT_PONG.ViewModels.FeedVMs.CreateFeedVM
@{
    ViewData["Title"] = "Dodaj";
    
}

<h1>Dodaj feed</h1>
<form action="Dodaj" method="post">
    <table>
        <tr>
            <td>Naziv feeda</td>
            <td><input type="text" name="Naziv" /></td>
        </tr>
    </table>
    <input type="submit" value="dodaj" />
</form>

