@model FIT_PONG.Models.Feed
@{
    ViewData["Title"] = "Edit";
}

<h1>Izmjena Feeda</h1>

<form action="Edit" method="post">
    @Html.Hidden("ID", Model.ID)
    <table>
        <tr>
            <td>Naziv feeda</td>
            <td><input type="text" asp-for="Naziv" /></td>
        </tr>
    </table>
        <input type="submit" value="Spasi" />

</form>