@using FIT_PONG.ViewModels.FeedVMs
@{
    ViewData["Title"] = "Obrisi";
    DisplayFeedVM fid = ViewBag.feed;
}

<h1>Da li sigurno zelite obrisati :</h1>

<form action="/Feed/PotvrdaBrisanja" method="post">
    <p>Naziv</p>
    <input type="text" disabled value="@fid.naziv" />
    @Html.Hidden("ID", fid.ID)
    <input type="submit" class="btn btn-outline-danger" value="DA" />
    <a href="/Feed" class="btn btn-outline-info">NE</a>

</form>

