@using FIT_PONG.ViewModels.FeedVMs
@{
    ViewData["Title"] = "Prikaz";
    DisplayFeedVM fid = ViewBag.fid;
}

<h1>@fid.naziv</h1>

@if (fid.Objave.Count() == 0)
{
    <p>Trenutno nema objava dodajte nekad novu</p>
}
else
{
    <table>
        @foreach (var x in fid.Objave)
        {
            <tr>
                <td>
                    @x.Content
                </td>
            </tr>
        }
    </table>
}
<input type="button" value="Edit" onclick="window.location.href='/Feed/Edit/@fid.ID'" />
<input type="button" value="Obrisi" onclick="window.location.href='/Feed/Obrisi/@fid.ID'"  />

