@model ResetPasswordVM
@{
    ViewData["Title"] = "PromjenaPassworda";
    string email = (string)ViewBag.email;
    string token = (string)ViewBag.token;
}

<form asp-action="PromjenaPassworda" asp-controller="Account" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="email" value="@email" />
    <input type="hidden" asp-for="token" value="@token" />
    <table >
        <tr>
            <td>Password</td>
            <td><input asp-for="password" /></td>
            <td><span asp-validation-for="password" class="text-danger" /></td>
        </tr>
        <tr>
            <td>Potvrdite password</td>
            <td><input asp-for="potvrdaPassword" /></td>
            <td><span asp-validation-for="potvrdaPassword" class="text-danger" /></td>
        </tr>
    </table>
    <input type="submit" value="Snimi" />
</form>