@model ResetPasswordEmailVM
@{
    ViewData["Title"] = "PromjenaRequest";
    var poruka = (string)ViewBag.poruka;
    var akcija = (string)ViewBag.akcija;
}
<h1></h1>
<form asp-action="@akcija" asp-controller="Account" method="post">
    <div asp-validation-summary="All" class="text text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <input type="submit" value="Posalji" />
</form>
