@model ResetPasswordVM
@{
    ViewData["Title"] = "PromjenaPassworda";
    var email = (string)ViewBag.email;
    var token = (string)ViewBag.token;
}

<h1 class="text-center">Promjena passworda</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-6">
        <form asp-action="PromjenaPassworda" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="email" value="@email" />
            <input type="hidden" asp-for="token" value="@token" />

            <div class="form-group">
                <label asp-for="password"></label>
                <input class="form-control" asp-for="password" />
                <span asp-validation-for="password" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="potvrdaPassword"></label>
                <input class="form-control" asp-for="potvrdaPassword" />
                <span asp-validation-for="potvrdaPassword" class="text-danger" />
            </div>
            <div class="text-center" style="margin-top:50px;">
                <input type="submit" class="btn btn-info" value="Snimi" />
            </div>
        </form>
    </div>
</div>