@model FIT_PONG.ViewModels.IgracVMs.IgracDodajVM
@{
    ViewData["Title"] = "Dodaj";
    var id = (int)ViewBag.id;
    var token = (string)ViewBag.token;
    var gradovi = ViewBag.gradovi as List<SelectListItem>;
}

    <style>
        #radioInputi div{
            padding-right:30px;   
        }
    </style>

<h1 class="text-center">Unesite podatke </h1>
<hr />
<div class="row justify-content-center">
    <div class="col-5">
        <form action="/Igrac/Dodaj" method="post" enctype="multipart/form-data">
            <input asp-for="ID" value="@id" type="hidden" />
            <input asp- asp-for="Token" value="@token" type="hidden" />
            <div class="form-group">
                <h6>Prikazno ime</h6>
                <input asp-for="PrikaznoIme" class="input-group" autofocus />
                <span asp-validation-for="PrikaznoIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h6>Jača ruka</h6>
                <div>
                    <select asp-for="JacaRuka" class="form-control input-group">
                        <option value=' ' disabled selected style="text-align:center">---Izaberi---</option>";
                        <option>desna</option>
                        <option>lijeva</option>
                    </select>
                </div>

                <span asp-validation-for="JacaRuka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h6>Visina(cm)</h6>
                <input asp-for="Visina" class="input-group" />
                <span asp-validation-for="Visina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h6>Slika profila</h6>
                <div class="custom-file">
                    <input asp-for="Slika" class="form-group custom-file-input" />
                    <label class="custom-file-label">Izaberi sliku</label>
                </div>
                <span asp-validation-for="Slika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h6>Grad</h6>
                @Html.DropDownListFor(x => x.GradId, gradovi, "Izaberite grad", new { @class = "input-group" })
            </div>
            <div class="form-group">
                <h6>Spol</h6>
                <div id="radioInputi">
                    <div style="float:left;">
                        <input type="radio" asp-for="Spol" value="M">
                        <label for="musko">Muško</label>
                    </div>
                    <div >
                        <input type="radio" asp-for="Spol" value="Ž">
                        <label for="zensko">Žensko</label>
                    </div>
                </div>
            </div>
            <div id="batnCentar" class="form-group text-center">
                <input type="submit" value="Dodaj" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}

