@model FIT_PONG.ViewModels.TakmicenjeVMs.CreateTakmicenjeVM;
@{
    ViewData["Title"] = "Dodaj";
}


<link href="~/css/jquery.mentionsInput.css" rel="stylesheet" />
<style>
    tr td {
  
        width: 50%;
    }

    .Default {
        display: none;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }

    .Toggle {
        display: table-row-group;
        opacity: 1;
        max-height: 100px; 
        overflow: visible;
    }

    h3 {
        color: #8f8f8f;
    }

    .-sew-list-container {
        position: absolute;
        background: white;
        border: 1px solid #DDD;
        border-radius: 3px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        min-width: 180px;
    }

    .-sew-list {
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 100px;
        overflow: scroll;
    }

    .-sew-list-item {
        display: block;
        padding: 5px 10px;
        border-bottom: 1px solid #DDD;
        cursor: pointer;
    }


        .-sew-list-item small {
            color: #afafaf;
        }

        .-sew-list-item.selected {
            color: white;
            background: #4183C4;
            text-decoration: none;
        }
    .RegistracijeRed{
        margin-bottom:30px;
    }
    #RucniIgraciRed{
        margin-bottom:30px;

    }
</style>


<h1 class="text-center">Dodaj novo takmicenje</h1>
<div class="row justify-content-center">
    <div class="col-6" style="border:1px solid black;padding-top:30px;">
        <form asp-action="Dodaj" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RucniOdabir"></label>
                <input id="checkRucni" class="form-control" asp-for="RucniOdabir" />
            </div>
            <div id="registracije" class="form-group">
                <div class="RegistracijeRed col-md-6" style="float:left">
                    <label asp-for="RokPocetkaPrijave"></label>
                    <input type="datetime-local" class="form-control" asp-for="RokPocetkaPrijave" />
                    <span asp-validation-for="RokPocetkaPrijave" class="text-danger"></span>
                </div>
                <div class="RegistracijeRed col-md-6" style="float:left">
                    <label asp-for="RokZavrsetkaPrijave"></label>
                    <input type="datetime-local" class="form-control" asp-for="RokZavrsetkaPrijave" />
                    <span asp-validation-for="RokZavrsetkaPrijave" class="text-danger"></span>
                </div>
                <div class="RegistracijeRed">
                    <label asp-for="MinimalniELO"></label>
                    <input type="text" class="form-control" asp-for="MinimalniELO" />
                    <span asp-validation-for="MinimalniELO" class="text-danger"></span>
                </div>
            </div>
            <div id="RucniIgraciRed" class="Default form-group">
                <div>
                    <label asp-for="RucnoOdabraniIgraci"></label>
                    <textarea id="zonaMentions" style="height:100%;width:100%"  rows="10" asp-for="RucnoOdabraniIgraci"></textarea>
                    <span class="text-danger" asp-validation-for="RucnoOdabraniIgraci"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Seeded"></label>
                <input class="form-control" asp-for="Seeded" />
            </div>
            <div class="form-group">
                <label asp-for="KategorijaID"></label>
                @Html.DropDownListFor(n => n.KategorijaID, new SelectList(ViewBag.kategorije, "ID", "Opis"),
                    "Odaberite kategoriju",new {@class="form-control" })
                <span asp-validation-for="KategorijaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SistemID"></label>
                @Html.DropDownListFor(n => n.SistemID, new SelectList(ViewBag.sistemi, "ID", "Opis")
                       ,"Odaberite sistem", new {@class="form-control" })
                <span asp-validation-for="SistemID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VrstaID"></label>

                @Html.DropDownListFor(n => n.VrstaID, new SelectList(ViewBag.vrste, "ID", "Opis")
                    , "Odaberite vrstu", new {@class="form-control" })
                <span asp-validation-for="VrstaID" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="StatusID"></label>
                @Html.DropDownListFor(n => n.StatusID, new SelectList(ViewBag.statusi, "ID", "Opis")
                     , "Odaberite status" , new {@class="form-control" })
                <span asp-validation-for="StatusID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DatumPocetka"></label>
                <input type="datetime-local" class="form-control" asp-for="DatumPocetka" />
                <span asp-validation-for="DatumPocetka" class="text-danger"></span>
            </div>


            <div class="form-group text-center"> 
                <input type="submit" class="btn btn-info" value="Dodaj" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jqueryMentions/jquery.elastic.js"></script>
    <script src="~/lib/jqueryMentions/jquery.events.input.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="~/js/jquery.mentionsInput.js"></script>
    <script>
        $(document).ready(function () {
            if ($('#checkRucni').is(":checked")) {
                $('#RucniIgraciRed').addClass("Toggle");
                $('#registracije').addClass("Default");
                $('#VrstaID option[value="2"]').prop("disabled", true);
                $('#VrstaID option[value="1"]').prop("selected", true);
            }
            $('#checkRucni').change(function () {
                if ($(this).is(":checked")) {
                    $('#RucniIgraciRed').addClass("Toggle");
                    $('#registracije').addClass("Default");
                    $('#VrstaID option[value="2"]').prop("disabled", true);
                    $('#VrstaID option[value="1"]').prop("selected", true);
                } else {
                    $('#RucniIgraciRed').removeClass("Toggle");
                    $('#registracije').removeClass("Default");
                    $('#VrstaID option[value="2"]').prop("disabled", false);

                }
            });
            $(function () {

                $('#zonaMentions').mentionsInput({
                    onDataRequest: function (mode, query, callback) {
                        $.getJSON('/FitApi/GetIgrace', function (responseData) {
                            responseData = _.filter(responseData, function (item) { return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1 });
                            callback.call(this, responseData);
                        });
                    }

                });

            });
        })
    </script>
}
