@using FIT_PONG.ViewModels;
@{
    ViewData["Title"] = "Dodaj";
}
@*(string _naziv,DateTime _pocetakprijava,DateTime _krajprijava,
            int _minimalniELO,int _kategorijaID,int _sistemID,int _vrstaID,int _statusID, DateTime?
    _pocetaktakmicenja = null)*@
<style>
    tr td {
        margin-right: 25px;
    }
</style>
<h1>Dodaj novo takmicenje</h1>
<form action="/Takmicenje/Snimi" method="post">
    <table>
        <tr>
            <td>Naziv</td>
            <td><input type="text" name="_naziv" /></td>
        </tr>
        <tr>
            <td>Pocetak prijava</td>
            <td><input type="date" name="_pocetakprijava" /></td>
        </tr>
        <tr>
            <td>Kraj prijava</td>
            <td><input type="date" name="_krajprijava" value="" /></td>
        </tr>
        <tr>
            <td>Minimalni ELO</td>
            <td><input type="text" name="_minimalniELO" value="" /></td>
        </tr>
        <tr>
            <td>Kategorija</td>
            <td>@Html.DropDownList("_kategorijaID", new SelectList(ViewBag.kategorije, "ID", "Opis"), "Odaberite kategoriju")</td>
        </tr>
        <tr>
            <td>Sistem</td>
            <td>@Html.DropDownList("_sistemID", new SelectList(ViewBag.sistemi, "ID", "Opis"), "Odaberite sistem")</td>
        </tr>
        <tr>
            <td>Vrsta</td>
            <td>@Html.DropDownList("_vrstaID", new SelectList(ViewBag.vrste, "ID", "Opis"), "Odaberite vrstu")</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>@Html.DropDownList("_statusID", new SelectList(ViewBag.statusi, "ID", "Opis"), "Odaberite status")</td>
        </tr>
        <tr>
            <td>Datum pocetka</td>
            <td><input type="date" name="_pocetaktakmicenja" /></td>
        </tr>
    </table>
    <input type="submit" value="Dodaj" />
</form>

