@model FIT_PONG.ViewModels.TakmicenjeVMs.EvidencijaVM
@{
    Layout = null;
    var id = ViewBag.id;
    var brojRundi = ViewBag.brojRundi;

}

<style>
    td{
        text-align:center;
    }

    input{
        margin:10px;
    }
</style>
<table id="mecevi" class="table table-bordered">
    
</table>

<script>
    $(document).ready(function () {
        $.ajax({
            async: false,
            url: "https://localhost:44322/FitApi/GetUtakmiceEvidencija/@id",
            type: "Get",
            success: function (data) {
                var x = JSON.parse(data);
                var tabela = document.getElementById("mecevi");
                var br = 1;

                for (var i = 0; i < x.length; i++) {
                    var trRunda = document.createElement("tr");
                    var tdRunda = document.createElement("td");
                    tdRunda.colSpan = "5";
                    var h2 = document.createElement("h2");
                    h2.innerHTML = "Runda " + br++;
                    tdRunda.appendChild(h2);
                    trRunda.appendChild(tdRunda);
                    tabela.appendChild(trRunda);
                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    td1.innerHTML = x[i].Item1;
                    tr.appendChild(td1);

                    if (x[i].Item1 == null || x[i].Item4 == null) {
                        var tdSlobodan = document.createElement("td");
                        tdSlobodan.innerHTML = "Slobodno kolo";
                        tdSlobodan.colSpan = "4";
                        tdSlobodan.bgColor = "yellow";
                        tr.appendChild(tdSlobodan);
                    }
                    else {
                        if (x[i].Item2 != null || x[i].Item3 != null) {
                            var td2 = document.createElement("td");
                            td2.innerHTML = x[i].Item2+" : "+x[i].Item3;

                            var td3 = document.createElement("td");
                            td3.innerHTML = x[i].Item4;

                            tr.appendChild(td2);
                            tr.appendChild(td3);
                        }
                        else {
                            var forma = document.createElement("form");
                            forma.method = "POST";
                            forma.action = "/Takmicenje/Evidencija";

                            var td2 = document.createElement("td");

                            var input1 = document.createElement("input");
                            input1.type = "text";
                            input1.value = x[i].Item2;
                            input1.name = "Rezultat1";
                            forma.appendChild(input1);

                            var input2 = document.createElement("input");
                            input2.type = "text";
                            input2.value = x[i].Item3;
                            input2.name = "Rezultat2";
                            forma.appendChild(input2);

                            var inputBtn = document.createElement("input");
                            inputBtn.type = "submit";
                            inputBtn.value = "Evidentiraj meč";
                            inputBtn.className = "btn btn-primary";
                            forma.appendChild(inputBtn);

                            var input3 = document.createElement("input");
                            input3.type = "text";
                            input3.value = x[i].Item1;
                            input3.name = "Igrac1";
                            input3.hidden = true;
                            forma.appendChild(input3);

                            var input4 = document.createElement("input");
                            input4.type = "text";
                            input4.value = x[i].Item4;
                            input4.name = "Igrac2";
                            input4.hidden = true;
                            forma.appendChild(input4);

                            var input5 = document.createElement("input");
                            input5.type = "text";
                            input5.value = x[i].Item5;
                            input5.name = "IgracUtakmicaId1";
                            input5.hidden = true;
                            forma.appendChild(input5);

                            var input6 = document.createElement("input");
                            input6.type = "text";
                            input6.value = x[i].Item6;
                            input6.name = "IgracUtakmicaId2";
                            input6.hidden = true;
                            forma.appendChild(input6);

                            td2.appendChild(forma);

                            var td3 = document.createElement("td");
                            td3.innerHTML = x[i].Item4;

                            tr.appendChild(td2);
                            tr.appendChild(td3);
                        }
                    }
                    tabela.appendChild(tr);
                }
            }
        });
        });
</script>