@model List<string>
@{
    ViewData["Title"] = "Neuspjeh";
}
@{
    if (Model != null && Model.Count > 0)
    {
        int brojac = 1;
        foreach (string i in Model)
        {
            <h2 class="text-danger">@(brojac++). @i</h2>

        }
    }
    else
    {
        <h1>Nesto je krenulo po zlu</h1>
    }
}


