@model FIT_PONG.ViewModels.TakmicenjeVMs.TakmicenjeVM;
@{
    ViewData["Title"] = "Obrisi";
}

<form action="/Takmicenje/PotvrdaBrisanja" method="post">
    <h1>Da li ste sigurni da zelite obrisati :</h1>
    <h2>@Model.Naziv takmicenje</h2>
    <br />
    <br />
    @Html.HiddenFor(s=> s.ID)
    <input type="submit" value="DA" />
    <a asp-controller="Takmicenje" class="btn btn-outline-primary">NE</a>
</form>
