@model FIT_PONG.SharedModels.Requests.Gradovi.GradoviInsertUpdate
@{
    ViewData["Title"] = "DodajForma";
}

<h1>Dodaj novi grad</h1>
<form action="/Grad/Dodaj" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table>
        <tr>
            <td>Naziv grada</td>
            <td><input asp-for="Naziv" class="input-group" autofocus/></td>
            <td><span asp-validation-for="Naziv" class="text-danger"></span></td>
        </tr>
        <tr>
            <td><input type="submit" value="Dodaj" class="btn btn-success"/></td>
        </tr>
    </table>
</form>


