@model FIT_PONG.ViewModels.AccountVMs.AutentifikacijaVM
@{
    ViewData["Title"] = "ProvjeriAutentifikaciju";
}

<h1>Autentifikacija u 2 koraka</h1>

<form action="/Account/ProvjeriAutentifikaciju" method="post">
    <div>
        @Html.ValidationMessage("Lockout")<br />
        <input autofocus asp-for="Code" placeholder="Unesite 6-cifreni kod..." />
        <input type="submit" value="Potvrdi" />
        <span asp-validation-for="Code" class="text-danger"></span><br /><br />
        <a href="/Account/PosaljiMail">Pošalji kod na mail</a>
    </div>
</form>

